/* Styles go here */
h1 {
  font-size:20px;

}

h2 {
  font-size:14px;

}

img {
  border: 4px solid black;
  margin: 2px;
}

.container {
  width: 600px;
  text-align:center;
}

#rectangle{
    width:600px;
    height:50px;
    background:grey;
    opacity: 0.8;
}
#rectangle2{
    width:600px;
    height:100px;
    background:grey;
    opacity: 0.8;
}

.background
{
  width: 600px;
  height: 120px;
  background: grey;
  border: 2px solid black;
}
.background2
{
  width: 600px;
  height: 140px;
  background: grey;
  border: 2px solid black;
}
.transbox
{
  width: 400px;
  height: 80px;
  margin: 30px 50px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}
.transbox
{
  margin: 20px 100px;
  font-weight: bold;
  color: #000000;
}
.transbox2
{
  width: 400px;
  height: 100px;
  margin: 30px 50px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}
.transbox2
{
  margin: 20px 100px;
  font-weight: bold;
  color: #000000;
}
button {
  width: 100px;
  margin: 5px 250px;
}